/* Front End Styles */
.PB_plusbutton {
	font-size:30px;
	font-weight:bold;
	vertical-align:top;
	margin-bottom:0px;
	margin-right:13px;
	display:inline-block;
	margin-top:40px;
}
.PB_product {
	display:inline-block;
	vertical-align:top;	
	position:relative;
	*zoom: 1;
    *display: inline;	
	margin: 0 13px 10px 0;
}
.PB_product_image {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.PB_product_name {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin: 4px 0;
	font-size: 14px;
    max-width: 175px;
    width: 100%;
}
.PB_bundle_info {
	text-align:center;
	vertical-align:top;
	display:inline-block;
	margin: 25px 0 0 13px;
	*zoom: 1;
    *display: inline;	
}
.PB_bundle_total_price {
	font-size:16px;
}
.PB_heading_text {
	font-size:16px;
	display: block;
	padding-bottom:8px;
	font-weight:bold;
}
.PB_options_image {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.PB_colorbox_footer {
	display: block;
	vertical-align:middle;
	margin-top:10px;
}
.PB_continue {
	float:right;
	display: inline-block;
	text-align:right;
}
.PB_options_product_field {
	padding: 5px 0 12px 0;
}
.PB_options_product_field a {
	color: #000 !important;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding-bottom: 5px;
	line-height: 16px;
	display: block;
}
.PB_options_product_field a:hover {
	text-decoration:underline;
}
.PB_colorbox_footer_text {
	display: block;
	width: auto;
	font-size: 12px;
	line-height: 15px;
	color: #4c4c4c;
}
.PB_options_product_item {
	float:left;
	padding: 5px 20px 5px 0;	
}
.PB_options_product_item_last {
	float:left;
	padding: 5px 0px 5px 0;
}
.PB_options .option {
	display: block;
	padding: 5px 0;
}
#ProductBundlesOptionsForm {
	display: inline-block;
}

/* PB listing pagination */
.pbListing-pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.pbListing-pagination .links {
	float: left;
}

.pbListing-pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}

.pbListing-pagination .results {
	float: right;
	padding-top: 3px;
}

.pbListing-pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}

.pbListing-content {
	padding: 0px;
	overflow: auto;
	margin-bottom: 20px;
}

.pbListing-box {
	margin-bottom: 20px;
}

.pbListing-box .box-content {
	background: #FFFFFF;
	-webkit-border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-khtml-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	border-top: 1px solid #DBDEE1;
	padding: 8px;
}

.pbListing-box .box-content .box-products {
	padding: 10px;
}

.pbListing-box .box-content .box-products .PB_bundle_info {
	text-align:center;
	vertical-align:top;
	display:inline-block;
	margin: 25px 0 0 13px;
	*zoom: 1;
    *display: inline;
}

.bundle-name {
	font-size: 14px;
	padding: 0px 0px 10px 0px;	
}

.bundle-list-name {
	font-size: 14px;
	padding: 5px 0px 5px 10px;		
}

.pb_quantity {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  z-index: 99;
  top: -5px;
  left: -10px;
  color: #fff;
  background-color: #ee3313;
  border-radius: 50%;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
}	
.bundle-list-description {
    padding: 5px 0px 5px 10px;
}